body {
  font-family: "Roboto", sans-serif;
  background: #000;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.logo .logo-info {
  font-size: 9px;
  display: block;
}
.user-name {
  margin-left: 20px;
}
.theme-bg {
  background-color: #090908;
}
.bg-dark {
  background: #090908 !important;
}
.ft-white {
  color: #fff;
}
.ft-12 {
  font-size: 12px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.noborder {
  border: none;
}
.nomargin {
  margin: 0;
}
.nopadding {
  padding: 0;
}
.form-control:focus {
  background: #0e0e0e;
  box-shadow: none;
}
.search-filter {
  margin: 20px 0;
  padding: 10px;
}
.search-filter .icon {
  background: #24080f;
  color: #b50a34;
  padding: 5px;
  margin-right: 10px;
}
.search-filter .subtitle {
  color: #484848;
}
.search-filter .form-control {
  border-color: #484848;
}
.industry-container {
  padding: 10px 0;
  margin: 20px 0;
}
.industry-section {
  padding: 10px;
  border: 1px solid #484848;
  border-radius: 2px;
  margin: 10px 0;
}
.industry-section i {
  color: #b50a34;
  margin-right: 5px;
}
.content .nav.nav-tabs {
  border-color: #2f2f2f;
}
.content .nav.nav-tabs .nav-item a {
  color: #5e5e5e;
  padding: 0.5rem 10px;
}
.content .nav.nav-tabs .nav-item .nav-link:focus,
.content .nav.nav-tabs .nav-item .nav-link:hover {
  border: none;
  outline: 0;
}
.content .nav.nav-tabs .nav-item .nav-link.active {
  background-color: #0e0e0e;
  border: none;
  border-bottom: 2px solid #b50a34;
}
.content .badge {
  margin: 5px;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.faq {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #484848;
}
.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-tag {
  background: #221620;
  color: #dd7fcc !important;
}
.comparables-tag {
  background: #20140e;
  color: #cb7338 !important;
}
.strategic-tag {
  background: #0c1c10;
  color: #32b654 !important;
}
.potential-tag {
  background: #200e10;
  color: #c93b44 !important;
}
.fast-tag {
  background: #111722;
  color: #568bd7 !important;
}

/* #484848
#9A9A9A */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-control {
  border-radius: 0;
  border: 0;
}
.charts-btn {
  border: 2px solid #00152d;
  color: #a5a5a5;
  font-size: 12px;
  margin: 5px;
}
.badge-dark {
  background: #141618;
  color: #bababa !important;
}
.placeholder_paragraph {
  color: #7e7e7e;
}
.margin-set {
  margin-top: -40px;
}

/* Slider CSS */

.faq-slider .slick-dots {
  text-align: left;
  bottom: 0px;
  left: 10px;
}

.faq-slider .slick-dots li {
  margin: 0;
}

.faq-slider .slick-dots li.slick-active button:before {
  color: #c93b44;
}

.faq-slider .slick-dots li button:before {
  color: #ccc;
}

/* Slider CSS end */

/* Media Queries (Responsive View) Css Here */
@media (max-width: 1199px) {
  .content .nav.nav-tabs .nav-item a {
    padding: 0.5rem 5px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .nav-justified .nav-item {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 25%;
    display: inline-block;
    float: left;
  }
  .user-name {
    margin-left: 10px;
    font-size: 14px;
  }
  .cus-user-sec img {
    width: 20px;
  }
  .cus-user-sec {
    padding-left: 0;
  }
  .res-text-center {
    text-align: center;
  }
}
@media (max-width: 575px) {
  nav.navbar {
    display: inline-block;
    width: 100%;
    padding: 0px;
  }
  .text-right.cus-user-sec {
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 999;
  }
}
@media (max-width: 420px) {
  .nav-justified .nav-item {
    width: 50%;
  }
}
